
.TECO_LAB_TEXT {
    padding-left: 8%;
    position: absolute;
    top: 16%;
    font-size: 200%;
}


.spacing_register_page {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 45%;
    font-size: 20px;

}

.verifyButton_register_page {
    position: absolute;
    height: 30px;
    left: -140px;
    top: 25px;

}

.registerButton_register_page {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 380px;
}

