input {
    width: 17%;
    height: 50%;
    border: 1px solid black;
    outline: 0;
    margin: 0.3% 0;
    font-size: 25px;
}

input:focus {
    border: 3px solid #009682;
    outline: 0;

}

label {
    display: inline-block;
    width: 12%;
}

.Title_set_all {

    padding-left: 10%;
}

.Title_Set {
    padding-left: 2%;
    position: absolute;
    top: 8%;
    font-size: 300%;
    overflow: hidden;
}

.TECO_LAB_TEXT {
    padding-left: 8%;
    position: absolute;
    top: 16%;
    font-size: 200%;
}


.spacing {
    position: absolute;
    top: 40%;
    width: 80%;
    left: 40%;
    font-size: 20px;

}

.verify {
    position: absolute;
    left: 30%;
    top: 5%;
    width: 4%;
    height: 20%;
    background: #FFFFFF;
    border: 2px solid #009682;
}
.register_Button {
    position: absolute;
    width: 6%;
    height: 30%;
    top: 120%;
    left: 25%;
    background: #FFFFFF;
    border: 2px solid #009682;
}
