#label1 {
    display: inline-block;

    width: 120px;
}


.Title_set_all {
    padding-left: 10%;
}

.Title_Set {
    padding-left: 2%;
    position: absolute;
    top: 3vw;
    font-size: 3vw;
    overflow: hidden;
}

.TECO_LAB_TEXT {
    padding-left: 8%;
    position: absolute;
    top: 16%;
    font-size: 200%;
}

.spacing {
    position: absolute;
    top: 20vw;
    width: 100%;
    left: 40%;
    font-size: 20px;
}

.verify {
    position: absolute;
    left: 400px;
    top: 0
}

.register_Button {
    text-align: center;
    position: absolute;
    top: 200px;
    left: 300px;
}

.emailTest {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.passwordTest {
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.passwordRepeat {
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;

}

.nameTest {
    position: absolute;
    top: 110px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}