input {
    width: 10%;
    height: 50%;
    border: 1px solid black;
    outline: 0;
    margin: 0.3% 0;
    font-size: 25px;
}

input:focus {
    border: 3px solid #009682;
    outline: 0;

}

label {
    display: inline-block;
    width: 6%;
}

h1 {
    padding-left: 2%;
}

h2 {
    padding-left: 8%;

}

.Title_set_all {
    padding-left: 20%;
}

.Title_Set {
    position: absolute;
    top: 8%;
    font-size: 400%;
    overflow: hidden;
}

.TECO_LAB_TEXT {
    position: absolute;
    top: 15%;
    font-size: 300%;
}


.spacing {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 40%;
    font-size: 20px;
    /*
    font-feature-settings: normal;


     */

}

.verify {
    position: absolute;
    left: 18%;
    top: 5%;
    width: 4%;
    height: 20%;
    background: #FFFFFF;
    border: 2px solid #009682;
}
.register_Button {
    position: absolute;
    width: 4.5%;
    height: 30%;
    top: 120%;
    left: 15%;
    background: #FFFFFF;
    border: 2px solid #009682;
}
