.Welcome {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    overflow: hidden;
    margin: 50px auto;
    font-size: 300%;


}

#KIT_Green {
    color: #009682;
}


.Register {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    border-style: solid;
    border-color: #009682;
}

.Login {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 60px;
    right: 0;
    background: #FFFFFF;
    border-style: solid;
    border-color: #009682;
}

.Teco_Logo {
    width: 20%;
    height: 10%;

}

.Kit_Logo {
    width: 7%;
    height: 5%;
}


.div_position {
    position: absolute;
    top: 1%;
    left: 1%;
}

