.Welcome {
   text-align: center;
    height: 1000px;
    line-height: 1000px;
    overflow: hidden;
    margin: 50px auto;
    font-size: 300%;
    position: relative;

}

#KIT_Green {
    color : #009682;
}


.Register {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    border-style: solid;
    border-color: #009682;
}

.Login {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 60px;
    right: 0;
    background: #FFFFFF;
    border-style: solid;
    border-color: #009682;
}
