
.Title_set_all_forget_password_page {
    padding-left: 10%;
}

.Title_set_forget_password_page {
    padding-left: 2%;
    position: absolute;
    top: 8vw;
    left: 25vw;
    font-size: 3vw;
    overflow: hidden;
}


.verifyButton_forget_password_page {
    position: absolute;
    left: 460px;
    top: 0
}

.resetButton_forget_password__page {
    text-align: center;
    position: absolute;
    top: 180px;
    left: 320px;
}

.email_forget_password_page {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.password_forget_password_page {
    position: absolute;
    top: 40px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.passwordRepeat_forget_password_page {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;

}


.verifyCode_forget_password_page {
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.form_forget_password_page {
    position: absolute;
    top: 20vw;
    width: 100%;
    left: 40%;
    font-size: 20px;
}

#icon_forget_password_page {
    opacity: 50%;

}
