.ALL_APPOINTMENT_ADMIN{
    position: absolute;
    top: 20vh;
    left: 0;
}
.SET_TIME_SLOTS_STATUS_ADMIN{
    position: absolute;
    top: 25vh;
    left: 0;
}
.BOOK_APPOINTMENT_ADMIN{
    position: absolute;
    top: 30vh;
    left: 0;
}
.LOGOUT_APPOINTMENT_ADMIN{
    position: absolute;
    top: 0;
    right: 0;
}
.DATE_PICKER_FORM{
    position: absolute;
    top: 34vh;
    right: 35vw;
}
.CONFIRM_APPOINTMENT_ADMIN{
    width : 5vw;
    height : 3vh;
}
#refresh {
    background-color: #009682;
    cursor: pointer;
    transition: all 150ms ease-out;
}

