.Welcome {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    overflow: hidden;
    font-size: 3vw;
}

.LOGOUT_ADMIN_MAIN_PAGE{
    position: absolute;
    top: 0;
    right: 0;
}

#refresh {
    background-color: #009682;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.placeholder_box {
    background-color: red;
    display: block;
    box-sizing: border-box;
    min-height: 150px;
    margin-top: 50px;
    padding: 30px;
}



.APPOINTMENT_ADMIN_MAIN_PAGE{
    position: absolute;
    top: 13vw;
    right: 40%;
}
.STOCK_AND_ORDER_ADMIN_MAIN_PAGE{
    position: absolute;
    top: 18vw;
    right: 40%;
}
.WEBCAM_ADMIN_MAIN_PAGE{
    position: absolute;
    top: 23vw;
    right: 40%;
}
.USER_GROUP_MANAGEMENT_ADMIN_MAIN_PAGE{
    position: absolute;
    top: 28vw;
    right: 40%;
}
.T_AND_C_UPDATE_ADMIN_MAIN_PAGE{
    position: absolute;
    top: 33vw;
    right: 40%;
}
.NOTIFICATION_CHECKBOX{
    position: absolute;
    top : 38.5vw;
    right : 50%;
    font-size: 1vw;
    display : block;
    cursor : pointer;
    user-select: none;
    transform : scale(1.2);


}
.SAVE_ADMIN_MAIN_PAGE{
    position: absolute;
    top : 38vw;
    right: 40%

}




