#KIT_Green {
    color: #009682;
}

button {
    display: inline-block;
    color : white;
    text-align: center;
    font-weight: bold;
    background-color: #009682;
    border: none;
    border-radius: 1vw;
    box-shadow: 0 0.5vw #999;
    cursor: pointer;
}

button:hover {background-color: #006356}

button:active {
    background-color: #006356;
    box-shadow: 0 0.3vw #666;
    transform: translateY(0.4vw);
}

#button_super{
    position: absolute;
    width: 20vw;
    height: 2vw;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}


#button_big {
    position: absolute;
    width: 6vw;
    height: 2vw;
    font-size: 0.8vw;
    font-weight: bolder;
    border-radius: 0.6vw;
    box-shadow: 0 0.3vw #999;
}
#button_big:active {
    box-shadow: 0 0.1vw #666;
    transform: translateY(0.2vw);
}

#button_medium {
    position: absolute;
    width: 70px;
    height: 25px;


}

#button_small {
    position: absolute;
}


#input1 {
    height: 20px;
    width: 280px;
    border: 1px solid black;
    outline: 0;
    margin: 0.3% 0;
    font-size: 20px;
    font-weight: bold;
}

#input1:focus {
    border: 3px solid #009682;
    outline: 0;

}

label {
    display: inline-block;
}

#label_big {
    width: 150px;
}

#label_medium {
    width: 100px;
}

.Teco_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 16%;
    height: 10%;
}

.Kit_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 5%;
    height: 5%;
}


