#KIT_Green {
    color: #009682;
}


#button {
    display: block;
    background: #FFFFFF;
    border-style: solid;
    border-color: #009682;
    position: absolute;
    width: 60px;
    height: 50px;

}

#button:focus {
    border: 3px solid black;
    outline: 0;
}




#button1 {
    display: block;
    background: #FFFFFF;
    border-style: solid;
    border-color: #009682;
    position: absolute;
    width: 120px;
    height: 25px;
    text-align: center;


}

#button1:focus {
    border: 3px solid black;
    outline: 0;
}


.Teco_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 16%;
    height: 10%;
}

.Kit_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 5%;
    height: 5%;
}

input {
    height: 20px;
    border: 1px solid black;
    outline: 0;
    margin: 0.3% 0;
    font-size: 1vw;
}

input:focus {
    border: 3px solid #009682;
    outline: 0;

}