.email_Login_Page {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.password_Login_Page {
    position: absolute;
    top: 40px;
    width: 100%;
    left: 0;
    font-size: 15px;
    font-weight: bold;
}

.User_Login_Button {
    position: absolute;
    top: 120px;
    left: 60px;

}

.Admin_Login_Button {
    position: absolute;
    top: 120px;
    left: 320px;

}

.Title_set_all {

    padding-left: 10%;
}

.Title_Set {
    padding-left: 2%;
    position: absolute;
    top: 3vw;
    font-size: 3vw;
    overflow: hidden;
}

.TECO_LAB_TEXT {
    padding-left: 8%;
    position: absolute;
    top: 7vw;
    font-size: 2vw;
}


.spacing_login_page {
    position: absolute;
    top: 20vw;
    width: 100%;
    left: 45%;
    font-size: 20px;

}


.Forget_Password_Button {
    position: absolute;
    width: 10%;
    height: 30%;
    top: 120%;
    left: 5%;
    background: #FFFFFF;
    border: 2px solid #009682;
}

.Goto_Register_Page_Button {
    position: absolute;
    width: 10%;
    height: 30%;
    top: 100px;
    left: 50px;
    flex: 2;
    background: #FFFFFF;
    border: 2px solid #009682;
}
