.Teco_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 25vw;
    height: 10vh;
}

.Kit_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 10vw;
    height: 8vh;
}

.form_logo_page {
    position: absolute;
    width: 100%;
    top: 0;
}
