.Teco_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 15vw;
    height: 6vh;
}

.Kit_Logo {
    position: relative;
    top: 0;
    left: 0;
    width: 6vw;
    height: 6vh;
}

.form_logo_page {
    position: absolute;
    width: 100%;
    top: 0;
}

